<!DOCTYPE html>
<html>
    <head>
        <title>VueJS</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div id="app">

            <div class="boxes">
                <div v-if="gates">
                    <div v-bind id="box1"></div v-bind>
                </div>
                
                <div id="box2"></div>
            </div>



            <h1 v-if="gates">The gates are open!</h1>
            <h1 v-else-if="!gates">The gates are closed!</h1>
            
            <button v-on:click="useGates">
                <p v-if="gates">Close the gate!</p>
                <p v-else-if="!gates">Open the gate!</p>
            </button>

        </div>
       
        <script src="vueJSScript.js"></script>
    </body>
</html>