<html>
    <head>
    </head>
    <body>

        <h1>Garbage adder!</h1>
        <form method="post" action="/garbage/add" >
        <input type="text" name="smece" placeholder="ubacite svoje smece ovde">
        <button typ="submit">dump!</button>
        <form>
    </body>
</html>