body {
    margin: 0;
    padding: 0;
}

#sky {
    background-color: skyblue;
    height: 340px;
    width: 100%;
}

#cloud1 {
   
    position: absolute;
    height: 150px;
    top: 30px;
    animation-name: flyby;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes flyby {
    from {
        margin-left: 800px;
    }
    to {
        margin-left: -200px;
    }
}

#cloud2 {
    
    position: absolute;
    height: 90px;
    width: 120px;
    top: 240px;
    animation-name: flyby;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#cloud3 {

    position: absolute;
    height: 90px;
    width: 120px;
    top: -30px;
    animation-name: flyby;
    animation-duration: 2.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#cloud4 {

    position: absolute;
    height: 120px;
    width: 250px;
    top: 150px;
    animation-name: flyby;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

h1 {
    font-family: monospace;
    top: -40px;
    left: 40px;
    font-size: 7em;
    text-transform: uppercase;
    position: absolute;
    color: #37474f;
    word-break: break-all;
}

#grass {
    background-color: #43a047;
    height: 190px;
    width: 100%;
}

#road {
    position: relative;
    background-color: #37474f;
    border-top: 7px solid lightsteelblue;
    border-bottom: 7px solid lightsteelblue;
    height: 246px;
    width: 100%;
}

#lines {
    
    border: 5px dashed whitesmoke;
    margin-top: 110px;

}

#mario {

    top: -30px;
    position: absolute;
    height: 100px;
    width: 100px;
    animation-name: drive;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes drive {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(900px);
    }
}

#luigi {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 85px;
    animation-name: drive;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.84,.63,.32,1.42);
}